# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref
beautifulsoup4
blas
bottleneck
brotlipy
bzip2
ca-certificates
certifi
cffi
charset-normalizer
cryptography
django
idna
intel-openmp
libffi
mkl
mkl-service
mkl_fft
mkl_random
numexpr
numpy
numpy-base
openssl
pandas
pip
pycparser
pyopenssl
pysocks
python
python-dateutil
python-tzdata
pytz
requests
setuptools
six
soupsieve
sqlite
sqlparse
tbb
tk
tzdata
urllib3
vc
vs2015_runtime
wheel
win_inet_pton
xz
zlib
